/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    sans-serif;
  background: #f4f4f6;
  color: #111;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: rgb(23, 23, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px gray; 
}
.main{
    margin:70px auto;
    background-color: rgb(236, 236, 236);
    min-height: calc(100vh - 140px);
    padding: 20px;
}
main img{
    width: 60px;
}
main li{
    font-size: 30px;
    list-style:none;
    text-align: center;
}
main li.record{
    text-align: left;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
footer button{
    background-color: rgb(23, 23, 255);
    width: 80%;
    height: 60%;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    transition: transform 0.1s, box-shadow 0.1s;
}
footer button:active{
    transform: scale(0.98);
    box-shadow: 2px 2px 2px black;
}

/* Não quebrar */
/* @media (min-width: 768px) {
  header,
  main,
  footer {
    max-width: 600px;
    margin: 0 auto;
  }
}    */
